* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: montserrat, sans-serif;
  width: 100%;
  min-height: 100vh;
}
.backGround {
  background: url(../Imagens/Background_espaco.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-origin: border-box;
}

header {
  background: #011c2650;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  text-align: justify;
}

header h1 {
  color: rgb(43, 43, 22);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  padding-top: 20px;
  color: white;
}

header p {
  padding-top: 5px;
  text-align: center;
  color: white;
}
.subTitulo {
  height: 3vh;
  width: 100%;
  color: white;
  margin-top: 6px;
  text-align: center;
  font-size: 23px;
}
main {
  width: 100%;
  min-height: 79.4vh;
  display: flex;
  padding: 10px;
}

section {
  width: 100%;
  display: flex;
  align-items: center;
}

.corpoTexto {
  border-radius: 12px;
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-right: 10%;
  margin-left: 5%;
}

.corpoTexto .caixa-imput {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 50px;
}

.corpoTexto label {
  cursor: pointer;
  padding: 10px;
  font-size: 22px;
  font-style: italic;
  color: white;
}

.corpoTexto input {
  cursor: pointer;
  width: 40%;
  padding: 12px 30px;
  font-size: 20px;
  font-weight: 700;
  border: none;
  text-align: center;
  background: transparent;
  color: white;
  border-bottom: white solid 1px;
}

.corpoTexto button {
  background-color: white;
  border: 2px solid rgba(196, 185, 185, 0.418);
  border-radius: 8px;
  padding: 20px 40px;
  margin-left: 10px;
  cursor: pointer;
  box-shadow: 0 2px 0 rgba(89, 110, 110, 0.76);
  color: #156c80;
}
.corpoTexto button:hover {
  background-color: #1fa2bfc2;
  box-shadow: 0 2px 0 rgba(89, 110, 110, 0.76);
  color: white;
  transition: 0.5s;
}

.corpoTexto button:active {
  position: relative;
  top: 2px;
  box-shadow: none;
}

.corpoTexto h2 {
  padding: 10px 0px;
  font-size: 2em;
  color: white;
}

.corpoTexto p {
  padding: 10px 10px;
  font-size: 20px;
  font-weight: normal;
  text-align: left;
  color: white;
}
.corpoTexto #copyright {
  font-size: 16px;
  font-style: italic;
  text-align: right;
  color: white;
}
.caixaImagem {
  width: 50%;
  padding-left: 20px;
}
#imagem {
  width: 600px;
  min-width: 400px;
  height: auto;
  border-radius: 8px;
  margin-top: 100px;
}

.caixaImagem iframe {
  width: 600px;
  min-width: 400px;
  height: 600px;
  min-height: 400px;
  border: none;
  margin-top: 100px;
}
#imagemErro {
  width: 500px;
  min-width: 400px;
  height: auto;
  margin-top: 100px;
  opacity: 0.8;
}

#texto,
#copyright,
#video,
#imagem {
  display: none;
}

footer {
  height: 7vh;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background: #011c2650;
  text-align: center;
  margin: 0 auto;
  padding-top: 25px;
}

footer .copyright {
  font-size: 13px;
  font-style: italic;
  color: white;
}
@media only screen and (max-width: 600px) {
  section {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .corpoTexto {
    border-radius: 12px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 10px;
  }
  .corpoTexto input {
    width: 50%;
  }

  .corpoTexto button {
    margin: 20px;
  }
  .caixaImagem {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  #imagem {
    width: 500px;
    height: auto;
  }
  #imagem:active{
    transform: scale(1.15);
    transition: 0.6s;
  }

  .caixaImagem iframe {
    width: 500px;
    height: 500px;
  }
}
